body {
  min-height: 90vh;
  background: #dfdfdf;
  font-family: Helvetica;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}

#board {
  width: 500px;
}